
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.container {
    background-color:mediumturquoise;
    width: 400px;
    height: 500px;
    margin-top: 60px;
    border-radius: 25px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.vacio {
    display: none;
}
